@import "../../styles/variables.scss";

.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-self: flex-end;

  .orderby {
    display: flex;
    justify-content: center;
    cursor: pointer;
    margin-right: 3rem;
    width: max-content;
  }

  .modal {
    position: absolute;
    top: 8rem;
    right: 5rem;
    z-index: 1;
    border: solid 1px $bg-primary;
    background-color: $bg-secondary;
    width: fit-content;
    border-radius: 8px;
    padding: 1rem 2rem;
    font-size: $font-size-3;
    > ul {
      list-style: none;
      > li {
        > a {
          cursor: pointer;
        }

        padding: 4px 0;
      }
    }
  }
}
