@import "../../styles/variables";

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 5rem;
  background-color: $bg-secondary;

  .title {
    text-decoration: none;
    color: black;
    font-size: $title;
    font-weight: 600;
  }
}
