.container {
  display: flex;
  flex-direction: column;
  width: 40rem;
  max-width: 90vw;

  align-items: center;
  gap: 1rem;

  .title {
    font-size: 32px;
  }

  .description {
    font-size: 16px;
  }
  .product-image {
    width: 50%;
    height: auto;
  }
  .price {
    font-size: 20px;
    font-weight: 700;
  }
}
