.container {
  display: flex;
  flex-direction: column;
  width: 30vw;
  align-items: center;
  justify-content: center;
  .title {
    font-size: 20px;
    line-height: 18px;
    margin-bottom: 1rem;
  }
  .action {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    .input {
      height: 2rem;
    }
    .button {
      background-color: black;
      width: 25%;
    }
  }
}
