@import "../../styles/variables.scss";
.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

  grid-gap: 2rem;
  max-width: 90vw;

  .empty {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: $font-size-2;
  }
}
